<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta-outlet></meta-outlet>

    <link rel="stylesheet" href="/styles/theme.css"></link>
    
    <script type="module" src="/components/footer/footer.js"></script>
    <script type="module" src="/components/header/header.js"></script>
  </head>

  <body>
    <main class="wrapper">

      <section class="header-container">
        <x-header></x-header>
      </section>

      <section>
        <nav>
          <ul>
            <li>
              <a href="/" title="Home page">Home</a>
            </li>
            <li>
              <a href="/projects/" title="Projects page">Projects</a>
            </li>
            <li>
              <a href="/blog/" title="Blog page">Blog</a>
            </li>
          </ul>
        </nav>
      </section>

      <section class="content">
        <page-outlet></page-outlet>
      </section>

      <section>
        <x-footer></x-footer>
      </section>
    </main>
    
  </body>
</html>