.content {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;

  & p {
    margin: 0;
  }

  & .content-banner {
    padding: 4rem 0;
    background: #fff;
    color: #192a27;
    margin:auto;
    max-width:960px;
  }

  & .content-body{
    padding: 4rem 0;
    margin: 0 auto;
    background-color: #FFF;
    max-width:960px;
  }


  & .content-footer {
    width:100vw;
    color: #fff;
    background-color: #192a27;
    margin:auto;
    padding: 4rem 0;
  }

  & .content-footer p {
    max-width:960px;
    margin:auto;
  }

  & .content-footer a {
    color:#F9E7CA;
  }

  & img.screenshot {
    display: inline-block;
    width: 100%;
  }

  & h4 {
    margin: 0;
  }

  @media (max-width: 768px) {
    & .content-body {
      width: 92%;
      margin:auto;
      display:flex;
      justify-content: center;
      padding: 0;
    }

    & .content-banner {
      width: 90%;
      margin:auto;
    }

    & .content-footer {
      width: 100%;
      font-size: 18px;
    }

    & .content-footer p {
      width: 90%;
    }
  }
}
