@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
}

.header-container {
  min-height: 20vh;
  background-color: #192a27;
}

.content {
  max-width: 60ch;
  padding: 3rem 0;
  margin: auto;
  min-height: 60vh;
}

nav, nav a {
  color: white;
  background-color: #192a27;
  text-align: center;
}

ul {
  list-style-type: none;
}

nav ul {
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 0 10px 10px;
}

nav ul li a {
  font-size: 1.2rem;
}

@media(max-width: 768px) {
  .content {
    padding: 1rem;
  }
}
