* {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
}

#container {
  background-color: #efefef;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}