.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: initial;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

  & p {
    text-align: left;
    font-size: 1rem;
    padding: 5px;
  }

  & .card-img-top {
    background-size: cover;
    background-position-x: center;
    background-position-y: center;

    & img {
      width: 200px;
      height: 200px;
      max-width: 200px;
    }
  }
}