:host {
  display: flex;
  background-color: #192a27;
  font-size: 1.2rem;

  & .header-text, & a {
    color: #FFF;
    text-decoration: none;
  }

  & #brand-header {
    display: flex;
  }

  & header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 4rem;
  }

  & img {
    width: 60px;
    margin-right: 1rem;
  }

  @media (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: center;
      padding: 1rem;
    }
    h2 {
      font-size: 22px;
    }
    img {
      width: 40px;
    }
    #brand-header {
      justify-content: center;
      margin-bottom: 1rem;
    }
  }
}
