:host {
  display: flex;
  padding: 2rem 4rem;
  background-color: #192a27;
  font-size: 1.2rem;

  & .header-text, & a {
    color: #FFF;
    text-decoration: none;
  }

  & header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  @media (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: center;
    }

  }
}
