:host {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;

  & .header-text, & a {
    margin: 0 auto 10px;
    color: #168c37;
    text-decoration: underline;
  }
}