:host {
  margin: 0 auto;
  display: block;
  width: 60%;
  border: #1d337a solid 3px;
  border-radius: 10px;
  padding: 20px;

  & ul {
    padding: 0;
  }

  & li {
    cursor: pointer;
    list-style: none;
    display: inline-block;
    padding: 10px;
    color: #020202;
  }

  & li.active-slot {
    color: #168c37;
  }
  
  & div.slot {
    display: none;
  }

  & div.active-slot {
    display: block;
  }
}