:host {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;

  & .section h3 {
    margin: 0;
    text-decoration: underline;
  };
  
  & .section {
    padding: 10px 10%;
  }

  & .light {
    background-color: #efefef;
  }

  & .dark {
    background-color: green;
  }
  
  & li {
    padding: 5px 0;
    list-style-position: inside;
  }
  
  & .welcome-text-body {
    color: green;
  }
}